@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.custom-font {
  font-family: 'Russo One', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gradient-color-button: linear-gradient(to right, #e4d98e, #af8f50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --gradient-color-button: linear-gradient(to right, #e4d98e, #af8f50);

  }
}


.gradient-icon {
  color: var(--gradient-color-button);
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  z-index: 10;
  font-family: Lato,sans-serif;
  margin: 20px 0;
}

.logo{
  font-size: 2em;
  color: #359381;
  pointer-events: none;
  margin-right: 270px;
}

/* .navigation a:hover, .navigation a.active {
  background: var(--gradient-color-button);
  color: #fff;
} 
.navigation a:hover {
  color: #dfd389;
  /* text-transform: scale(0.2rem) !important;
}*/

.sec h2 { 
  font-size: 3em;
  color: #000;
  margin-bottom: 10px;
}

.sec p {
  font-size: 1em;
  color: #000;
  font-weight: 300;

}

.professores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px;
}

.sec2:hover p {
  transform: translateY(0);
  color: white;
  opacity: 1;

} 

.horarios {
  margin: 0 50px;
  max-width: 700px;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: #fff;

}

thead {
  color: #fff;
}

th, td {
  padding: 15px;
}

th {
  font-weight: 700;
  text-transform: uppercase;
}

tbody tr {
  border-bottom: 1px solid #f2f2f2;
}

tbody tr:last-child {
  border-bottom: none;
}

tbody td:first-child {
  font-weight: 700;
}

tbody td:not(:first-child) {
  font-weight: 500;
}



.location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.footer-logo {
  flex: 1;
  margin-right: 20px;
}

.footer-info {
  flex: 2;
  text-align: right;
}

.contact-info {
  padding: 0;
  margin: 10px 0;
}


.custom-text {
  background: linear-gradient(to right, #e4d98e, #af8f50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}